body, html{
    background: url(../images/background.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.slide1{
    width: 100vw;
    height: 100vh;
}
#title{
    color: #FFFFFF;
    font-family: 'Futura Demi';
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 114px;
    text-align: center;
    width: 100vw;
    z-index: 1;
    position: absolute;
    width: 100vw;
    top: 28.5%;
}
#underline{
    z-index: 1;
    bottom: 15%;
    left:50%;
    margin:auto; 
    width:50%; 
    height:100px;
    position:absolute;  
    margin-left:-25%; 
}
#three-container{
    position: absolute;
    top: 25%;
}
@font-face {
    font-family: 'Futura Demi';
    src: url('FuturaDemiC.eot');
    src: url('FuturaDemiC.eot?#iefix') format('embedded-opentype'),
    url('FuturaDemiC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.three-container img{
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
}
#next-slide{
    position: absolute;
    top: 50%;
    right: 15%;
}
#previous-slide{
    position: absolute;
    top: 50%;
    left: 15%;
}
.mini-sphere{
    width: 500px !important; 
    height: 280px !important; 
    position: fixed !important;
    right: -7.5% !important;
    top: -2.5%;
}