body{
    margin: 0;
    overflow: hidden;
    background-image: url(../images/background.svg);
    background-repeat: repeat-x;
    background-size: contain;
}
.slide1{
    width: 100vw;
    height: 100vh;
}
#title{
    color: #FFFFFF;
    font-family: 'Futura Demi';
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 114px;
    text-align: center;
    position: absolute;
    top: 28.5%;
    width: 100vw;
    text-align: center;
}
#three-container{
    position: absolute;
    top: 25%;
}
@font-face {
    font-family: 'Futura Demi';
    src: url('FuturaDemiC.eot');
    src: url('FuturaDemiC.eot?#iefix') format('embedded-opentype'),
    url('FuturaDemiC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.three-container img{
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
}